<!-- login_select.html -->
{% extends "wrap.html" %}


{% block content %}
<br>
<div class='row'>
    <div class="col-md-12">
        <a href="/accounts/login">Use UH Username and Password to login.</a>
    </div>

    <div class="col-md-12">
        <a href="/guest/login">Use Guest Username and Password to login.</a>
        <form method="post" action="/guest/login/">{% csrf_token %}
            <label>Username</label><input type="text" name="username">
            <label>Password</label><input type="password" name="passwd">
            <button type="submit">Login</button>
        </form>
    </div>
</div>

{% endblock %}