<!DOCTYPE html>
<html lang="en">
<head>
<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'> -->
<!--     <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="https://clt.manoa.hawaii.edu/lib/css/clt-fonts/MyFontsWebfontsKit.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{STATIC_URL}}font-awesome-4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/wrap.css">
    {% block page-level-css %}{% endblock %}
    <title>{% block title %} Studio Analytics: Center for Language & Technology {% endblock %}</title>

</head>
<body>
	<div id="wrapper" class="container-fluid" style='width:95%;'>
		<div id="pagewrap" "height: 100%;">
		    <div id="headerwrap" class="row hide_from_printer" >
				<input id="siteroot" type="hidden" value="{{SITE_ROOT}}"/>

				<div class="header-menu-left col-md-5" style=''><a href="https://clt.manoa.hawaii.edu/analytics"><img class="img-responsive" width="360px" src="{{STATIC_URL}}ONLINE-COURSE-REVIEW-SYSTEM.png"></a></div>

	    		<div class="header-menu-right col-md-7" style="text-align: right; margin-right: 0px; margin-top: 5px;">
		    		{% if user.is_authenticated %}
		    			<span><b>Online Course Review {% block reviewname %}{% endblock %}</b></span>
		    			<span>|&nbsp;<a href="{{SITE_ROOT}}/review">reviews</a></span>
		    			{% if user.is_staff %}
		    			<span>|&nbsp;<a href="{{SITE_ROOT}}/admin" target="_blank">admin</a></span>
		    			{% endif %}
		    			<span>|&nbsp;<a href="{{SITE_ROOT}}/logout">logout</a> {{user}}</span>
		    		{% else %}
		    			<span><a href="{{SITE_ROOT}}/accounts/login"> login </a></span>
		    		{% endif %}
	    		</div>
    			<h4 class="header-menu-left col-md-10"></h4>
    			<h4 class="header-menu-right col-md-2" style="text-align: right;">
    				{% block help_pdf %}{% endblock %}
    			</h4>

		    </div> <!-- END HEADERWRAP -->

	    	<div class='row'>
		    	<div id="subheaderwrap" class="col-md-12">
		    		{% block appmenu %}{% endblock %}
		    	</div>
	    	</div>

	    	<div class='row'>
			    <div id="contentwrap" class="col-md-12" >
			    	{% block content %}{% endblock %}
			    </div>
			</div>
	</div><!--END PAGEWRAP -->


	<div id="footer">
		<div class='row'>
			<div class="border col-md-12 " style='border-top: 1px solid #dddddd; height:1px;'><p></p></div>
		</div>
		<div class='row'>
			<div  class="text-center"><a href="{{SITE_ROOT}}">home</a></div>
		</div>
		<div class='row'>
			<div  class="text-center">{% block footer %} {% endblock %} <a href="https://clt.manoa.hawaii.edu" target="_blank"> &copy; 2015 Center for Language & Technology</a></div>
		</div>
	</div>
	</div><!--END WRAPPER -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}js/csrf-ajax.js"></script>
	{%  block page-level-scripts %}{% endblock %}
</body>
</html>