/*GLOBALS*/
.Nexa-Book {
    font-family: Nexa-Book;
    font-weight: normal;
    font-style: normal;
}


* {
    font-family:  'Source Sans Pro', sans-serif;
    /*font-family: Nexa-Book; */
    font-size: 1.00em;
}

html,body{
    height: 100%;
   z-index:-1;
}
#wrapper {
    min-height: 100%;
    position:relative;
}
/*#pagewrap{
    background-color: yellow;
    height: 100px;
    width: 100%;
}*/
#footer{
    bottom: 0px;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
}