{% extends "review-wrap.html" %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-12" >
		<h3>{{review}}<small>
			<a href="{{SITE_ROOT}}/review/{{review.id}}">(view review questions)</a>
			<input name="revid" id="review-id" type="hidden" value="{{review.id}}"/>
		</small></h3>
	</div>
	<div class="col-md-12" >
		<table class='table borderless' style='font-size:1.1em;'>
			<tr><td>Instrument</td><td>{{review.survey}}</td></tr>
			<tr><td>Course Description</td><td>{{review.coursedesc}}</td></tr>
			<tr><td>Site</td><td>{{review.siteurl}}</td></tr>
			<tr><td>Site Information</td><td>{{review.siteinfo}}</td></tr>
			<tr><td>Started on</td><td>{{review.startdate}}</td></tr>
			<tr><td>Completed?</td><td>{% if review.completed %}{{review.completed}}{% else %} No {% endif %}</td></tr>
			<tr><td>Instructor(s)</td>
				<td>
				<table style="font-size: 0.8em" cellpadding="5px">
					{% for i in instructors %}
					<tr><td> <div> {{i.email}} </div> </td><td>{{i.get_profile.department}} </td></tr>
					{% endfor %}
				</table>
				</td>
			</tr>
			<tr><td>Reviewer(s) <small style='font-size:60%;cursor:pointer;'><span class="reviewerShort glyphicon glyphicon-plus"></span></small></td>
				<td>
				<table style="font-size: 0.8em" cellpadding="5px">
					{% for i in review.reviewers.all   %}
					<tr {% if not forloop.first %}class='toShort '{% endif %}><td><div> {{i.email}} </div></td><td>{{i.get_profile.department}} </td></tr>
					{% endfor %}
				</table>
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-12" >
	{% if not survresponses.count %}
		<h4>{{review.presurv}} 
			<small style='color:black;'>Survey not completed.</small>
			{% if user in review.instructors.all %}
			<small style='color:black;'>Instructor of {{review}} can submit survey <a href="{{SITE_ROOT}}/review/prep/{{review.id}}">here</a></small>
			{% endif %}
		</h4>
		
	{% else %}
		<p class="">{{review.presurv}} <span class="subtext"><a href="{{SITE_ROOT}}/review/prep/{{review.id}}"></a></span></p>
		
		<table style='font-size:0.9em;'>
			{% for r in survresponses %}
				<tr><td>{{r.question}}</td><td><i>{{r.response}}</i></td></tr>
			{% endfor %}
		</table>	
	{% endif %}
	</div>
</div>

<div class="row">
	<div class="col-md-12"><a href="{{SITE_ROOT}}/review/info/print/{{review.id}}"><h4>View Report</h4></a></div>
</div>

{% endblock content %}

{%  block page-level-scripts %}
<script src="{% static "js/review-info.js" %}"></script>
{% endblock %}
